/* 
    Document   : Microcycas
    Created on : 15-dic-2011, 17:41:30
    Author     : hermes
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.btnx {
    background-image: url(../images/avion.png) !important;
}

